*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'poppins',sans-serif;
}
.nav{


    position: fixed;
    background-color: blue;
    width: 100%;
    padding: 10px 0;
    z-index: 13;
}
nav.menu{
    max-width: 1300px;  
    margin: auto;/*khong bi pha vo*/
    display:flex;
    align-items: center ;
    justify-content: space-between;
    padding: 0 20px;


}
.menu.logo{
    /* xoa bo cac style đặc biệt dang trang trí thêm*/
    text-decoration: none;
    color: aqua;
    font-size: 35px;
    font-weight: 500;

}
.menu ul{
    /*can ngang ul li*/
    display: inline-flex;
}
.menu ul li{
    list-style: none;
    margin-left: 7px;

}
.menu ul li a{
    color: #000;
    
   
}

